---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProductCard from '../components/ProductCard.astro';
---

<BaseLayout>
  <main class="mx-4 my-[1.75rem]">
    <ProductCard/>
  </main>
</BaseLayout>
